[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-on-heroku = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-google-maps = "*"

[dev-packages]

[requires]
python_version = "3.9"
